<title>SeniorCare</title>
<nav class="navbar navbar-light" style="background-color: #55F;">
    <a class="navbar-brand" href="#">SeniorCare</a>
    {{#if isAdmin}}
    <button id="nurseList" class="navbar-toggler nurseList fa-solid fa-user-nurse fa-2xl p-3" type="button" data-toggle="collapse tooltip" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" data-placement="bottom" title="Nurses List">
    </button>
    {{/if}}
</nav>