<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <form id="loginForm" class="form-horizontal pt-5">
                <fieldset>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="nurseCodeInput">Nurse Code</label>
                        <div class="col-md-4">
                            <input id="nurseCodeInput" name="nurseCode" type="text" placeholder="12345" class="form-control input-md">
                        </div>
                    </div>
                    <div id="nurseCodeEmptyAlert" class="alert alert-danger collapse">
                        Please provide a Nurse Code!
                        <button type="button" class="btn-close" ></button>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="passwordInput">Password</label>
                        <div class="col-md-4">
                            <input id="passwordInput" name="password" type="text" placeholder="password1234" class="form-control input-md">
                        </div>
                    </div>
                    <div id="passwordEmptyAlert" class="alert alert-danger alert-dismissible collapse">
                        Please provide a password!
                        <button type="button" class="btn-close" ></button>
                    </div>

                    <div id="userNotFoundAlert" class="alert alert-danger alert-dismissible collapse">
                        No users with this Nurse Code exist!
                        <button type="button" class="btn-close" ></button>
                    </div>
                    <div id="invalidPasswordAlert" class="alert alert-danger alert-dismissible collapse">
                        Incorrect Password Provided!
                        <button type="button" class="btn-close" ></button>
                    </div>


                    <div class="form-group pt-4">
                        <label class="col-md-4 control-label" for="signInButton"></label>
                        <div class="col-md-4">
                            <button id="loginButton" name="loginButton" class="btn btn-primary">Login</button>
                            <button id="registerButton" name="registerButton" class="btn btn-secondary">Register</button>
                        </div>
                    </div>

                </fieldset>
            </form>

        </div>
    </div>
</div>


<script>
    $('#loginButton').click(function(e){
        e.preventDefault();
        
        var user = {
            nurseCode: $('input[name=nurseCode]').val(),
            password: $('input[name=password]').val()
        }

        var emptyNursecode = user.nurseCode == "" || user.nurseCode == undefined;

        if(emptyNursecode){
            $('#nurseCodeEmptyAlert').show();
        }
        else{
            $('#nurseCodeEmptyAlert').hide();
        }

        var emptyPassword = user.password == "" || user.password == undefined;

        if(emptyPassword){
            $('#passwordEmptyAlert').show();
        }
        else{
            $('#passwordEmptyAlert').hide();
        }

        if(!emptyPassword && !emptyNursecode){
            $.ajax({
            type: "POST",
            url: "/api/auth/signin",
            data: user,
            success: function(data, status, settings) {
                window.location.href = '/residents';
            },
            error: function(error){
                if(error.status == 401){
                     $('#invalidPasswordAlert').show();
                }
                if(error.status == 404){
                     $('#userNotFoundAlert').show();
                }
            }
        });
        }
    })

    $('.btn-close').click(function(){
        $(this).parent().hide();
    });

    $('#registerButton').click(function(e){
        e.preventDefault();
        window.location.href = '/register';
    })
</script>
    