<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <form id="registerForm" class="form-horizontal pt-5">
                <fieldset>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="firstNameInput">First Name</label>
                        <div class="col-md-4">
                            <input id="firstNameInput" name="firstName" type="text" placeholder="Joe" class="form-control input-md">
                        </div>
                    </div>
                    <div id="firstNameEmptyAlert" class="alert alert-danger collapse">
                        Please provide a First Name!
                        <button type="button" class="btn-close" ></button>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="lastNameInput">Last Name</label>
                        <div class="col-md-4">
                            <input id="lastNameInput" name="lastName" type="text" placeholder="Bloggs" class="form-control input-md" >
                        </div>
                    </div>
                    <div id="lastNameEmptyAlert" class="alert alert-danger collapse">
                        Please provide a Last Name!
                        <button type="button" class="btn-close" ></button>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="nurseCodeInput">Nurse Code</label>
                        <div class="col-md-4">
                            <input id="nurseCodeInput" name="nurseCode" type="text" placeholder="12345" class="form-control input-md">
                        </div>
                    </div>
                    <div id="nurseCodeEmptyAlert" class="alert alert-danger collapse">
                        Please provide a Nurse Code!
                        <button type="button" class="btn-close" ></button>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="passwordInput">Password</label>
                        <div class="col-md-4">
                            <input id="passwordInput" name="password" type="text" placeholder="password1234" class="form-control input-md">
                        </div>
                    </div>
                    <div id="passwordEmptyAlert" class="alert alert-danger collapse">
                        Please provide a password!
                        <button type="button" class="btn-close" ></button>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="confirmPasswordInput">Confirm Password</label>
                        <div class="col-md-4">
                            <input id="confirmPasswordInput" name="confirmPassword" type="text" placeholder="password1234" class="form-control input-md">
                        </div>
                    </div>
                    <div id="passwordsMatchEmptyAlert" class="alert alert-danger collapse">
                        Passwords are not matching!
                        <button type="button" class="btn-close" ></button>
                    </div>

                    <div class="form-group pt-4">
                        <label class="col-md-4 control-label" for="signInButton"></label>
                        <div class="col-md-4">
                            <button id="registerButton" name="registerButton" class="btn btn-primary">Register</button>
                            <button id="cancelButton" name="cancelButton" class="btn btn-secondary">Cancel</button>
                        </div>
                    </div>

                </fieldset>
            </form>

        </div>
    </div>
</div>


<script>
    $('#registerButton').click(function(e){
        e.preventDefault();
        var user = {
            firstName: $('input[name=firstName]').val(),
            lastName: $('input[name=lastName]').val(),
            nurseCode: $('input[name=nurseCode]').val(),
            password: $('input[name=password]').val()
        }
        
        var matchingPassword =  $('input[name=confirmPassword]').val();
        var validated = true;

        var emptyFirstName = user.firstName == "" || user.firstName == undefined;
        if(emptyFirstName){
            $('#firstNameEmptyAlert').show();
            validated = false;
        }
        else{
            $('#firstNameEmptyAlert').hide();
        }
        
        var emptyLastName = user.lastName == "" || user.lastName == undefined;
        if(emptyLastName){
            $('#lastNameEmptyAlert').show();
            validated = false;
        }
        else{
            $('#lastNameEmptyAlert').hide();
        }

        var emptyNursecode = user.nurseCode == "" || user.nurseCode == undefined;
        if(emptyNursecode){
            $('#nurseCodeEmptyAlert').show();
            validated = false;
        }
        else{
            $('#nurseCodeEmptyAlert').hide();
        }

        var emptyPassword = user.password == "" || user.password == undefined;
        if(emptyPassword){
            $('#passwordEmptyAlert').show();
            validated = false;
        }
        else{
            $('#passwordEmptyAlert').hide();
        }

        var matchingPassword = user.password == matchingPassword;
        if(!matchingPassword){
            $('#passwordsMatchEmptyAlert').show();
            validated = false;
        }
        else{
            $('#passwordsMatchEmptyAlert').hide();
        }

        if(validated){
            $.ajax({
                type: "POST",
                url: "/api/auth/signup",
                data: user,
                success: function( msg ) {
                    console.log('server response is', msg.status);
                    window.location.href = '/residents';
                },
            });
        }
    })

    $('.btn-close').click(function(){
        $(this).parent().hide();
    });

    $('#cancelButton').click(function(e){
        e.preventDefault();
        window.location.href = '/';
    })
</script>
    