<div class="container">
	<div class="row">
		<div>
    	 <div class="well profile">
            <div >
                <div >
                    <h2>{{residentObj.Name}}</h2>
                    <p><strong>Age: </strong> {{residentObj.age}} </p>
                    <p><strong>Room: </strong> {{residentObj.RoomNum}} </p>
                </div>             
            </div>            
            <div class="row justify-content-center">
                <div class="col-md-4 emphasis">                    
                    <p><strong>Blood Sugar Level</strong></p>
                    <ul class="list-group">
                        <li class="list-group-item">60/80</li>
                        <li class="list-group-item">69/78</li>
                        <li class="list-group-item">73/89</li>
                        <li class="list-group-item">67/90</li>
                        <li class="list-group-item">2</li>
                    </ul>
                    <button class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> </button>
                </div>
                <div class="col-md-4 emphasis">                  
                    <p><strong>Blood Pressure</strong></p>
                    <ul class="list-group">
                        <li class="list-group-item">60/80</li>
                        <li class="list-group-item">69/78</li>
                        <li class="list-group-item">73/89</li>
                        <li class="list-group-item">67/90</li>
                        <li class="list-group-item">2</li>
                    </ul>
                    <button class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> </button>
                </div>
                <div class="col-md-4 emphasis"               
                    <p><strong>Last Fall</strong></p>
                     <ul class="list-group">
                        <li class="list-group-item">12-06-2022 01:30</li>
                        <li class="list-group-item">12-06-2022 01:30</li>
                        <li class="list-group-item">12-06-2022 01:30</li>
                        <li class="list-group-item">12-06-2022 01:30</li>
                        <li class="list-group-item">12-06-2022 01:30</li>
                    </ul>
                    <button class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> </button>
                </div>
            </div>
    	 </div>                 
		</div>
	</div>
</div>